.azad-header{
    background: var(--white);
    -webkit-box-shadow: var(--shadow);
    -ms-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    .header-container{
        display:flex;
        flex-direction:row;
        justify-content:space-between;

        .logo{
            max-width: 50%;
            text-align:left;
            position:relative;
            display:flex;
            align-items:center;

            h1{
                line-height:0;
                a{
                    display: inline-block;
                }
            }
            .burger-button{
                display: none;
            }
        }
        .azad-nav{
            display:flex;

            .desktop-menus{
                height: 100%;

                ul{
                    display: flex;
                    justify-content: flex-end;
                    height:100%;
                    align-items: center;

                    li{
                        a{
                            color: var(--text);
                            display: block;
                            padding: 2rem 1rem;
                            display: block;
                            text-decoration: none;
                        }
                    }
                }
            }
            .azad-search-button{
                display:flex;
                align-items:center;
                .toggle{
                    border:none;
                    background:none;
                    padding:1rem;
                    cursor:pointer;
                    &:focus{
                        outline: none;
                    }
                }
            }           
        }
    }
    .mobile-menus{
        display: none;
    }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px){

    .azad-header{
        .header-container{
            flex-direction:column;  
            margin:1rem 0;          
            .logo{
                text-align:center;
                position:relative;

                .burger-button{
                    padding:5px;
                    border-radius: 4px;
                    background:var(--text);
                    width: 40px;
                    height: 40px;
                    display:flex;
                    align-items:center;
                    position:absolute;
                    top:50%;
                    right:0;
                    transform:translate(0%,-50%) rotate(0deg);                    

                    span{
                        position:relative;
                        width: 100%;
                        height: 4px;
                        background:var(--white);

                        &:before, &:after{
                            content:'';
                            display:block;
                            width: 100%;
                            height: 100%;
                            position:absolute;
                            top: -12px;
                            background:var(--white);
                            transition:all .5s ease-in-out;
                        }
                        &:after{
                            top: 12px;
                        }
                    }
                }
                .burger-button.active{
                    span{
                        background:none;
                        &:before,&:after{
                            top:0;
                        }
                        &:before{
                            transform:rotate(45deg);
                        }
                        &:after{
                            transform:rotate(315deg);
                        }
                    }
                }                                
            }
            .desktop-menus{
                display: none;
            }
        }
        .mobile-menus{
            background:var(--text); 
            color:var(--black);
            padding: 1rem 0;
            marign-top: 1rem;
            ul{
                li{
                    a{
                        padding:10px 0;
                        color:var(--white);
                        display:block;
                        text-transform:uppercase;
                    }
                }                
            }            
        }
    }
}

/* Hiding and Showing ------------------------ */
// .js .show-js {
// 	display: block !important;
// }

// .js .hide-js {
// 	display: none !important;
// }

// .no-js .show-no-js {
// 	display: block !important;
// }

// .no-js .hide-no-js {
// 	display: none !important;
// }

.cover-modal {
	display: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.cover-modal.show-modal {
	display: block;
	cursor: pointer;
}

.search-modal {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: -9999rem;
    top: 0;
    transition: opacity 0.2s linear, left 0s 0.2s linear;
    width: 100%;
    z-index: 999;
}
.search-modal.active {
    left: 0;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.search-modal.active .search-modal-inner {
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
	transform: translateY(0);
	transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
}
.search-modal-inner {
	background: #fff;
	transform: translateY(-100%);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
}
.search-modal-inner .section-inner {
	display: flex;
	justify-content: space-between;
	max-width: 168rem;
}
.section-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    width: calc(100% - 4rem);
}

.search-untoggle svg {
	height: 1.5rem;
	transition: transform 0.15s ease-in-out;
	width: 1.5rem;
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
	transform: scale(1.15);
}

/* Modal Search Form ------------------------- */
.search-modal form {
	margin: 0;
	position: relative;
	width: 100%;
}

.search-modal .search-field {
	background: none;
	border: none;
	border-radius: 0;
	color: inherit;
	font-size: 2rem;
	letter-spacing: -0.0277em;
	height: 8.4rem;
	_margin: 0 0 0 -2rem;
	_max-width: calc(100% + 2rem);
	_padding: 0 0 0 2rem;
	_width: calc(100% + 2rem);   
	width: 100%;   
}

.search-modal .search-field {
    border: none;
    font-size: 3.2rem;
    height: 14rem;
}
.search-modal .search-submit:focus {
	right: 0;
    border: 1px solid red !important;
}
.search-modal .search-submit {
	position: absolute;
	right: -9999rem;
	top: 50%;
	transform: translateY(-50%);
}
.search-modal .search-field::-moz-placeholder {
	color: inherit;
	line-height: 4;
}
.search-modal .search-field::-webkit-input-placeholder {
	color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
	color: inherit;
}

button.search-untoggle {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: -2.5rem;
    padding: 0 2.5rem !important;
}
button.toggle {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: inherit;
    padding: 0;
    text-transform: none;
}

// NEW INFO
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input[type="search"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}
