/**
* :: FOOTER DESIGN
*/
footer.azad-footer {
    margin-top: auto;
    background: var( --bg );
    color: var( --white );
    padding: 5rem 0 0;

    .footer-top-container {
        display: grid;
        grid-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2rem 0 2rem;
    }

    .azad-copyright {
        padding: 1rem 0;
        background: var( --text );

        .copyright-container {
            overflow: overlay;

            p {
                margin: 0;
            }
        }
    }        
}

@media only screen and ( max-width: 767px ),
only screen and ( max-device-width: 767px ) {

    footer.azad-footer {
        .footer-top-container {
            grid-gap: 1rem;
            grid-template-columns: 1fr;
            padding: 4rem 0 0rem;
        }
    }
}