/**
*-------------------------------------------------------
*   = GLOBAL STYLE
*-------------------------------------------------------
*/
html {
    background: var( --bg-color ); 

    body { 
        color: var( --text-color ); 
        text-align: center;
        line-height: 1.2em;
        font: 1em/1.25em "Cabin", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased; /* Chrome Suffery     */
        -moz-font-smoothing: antialiased; 	 /* Firefox            */
        -ms-font-smoothing: antialiased; 	 /* Internet Explorer  */
        -o-font-smoothing: antialiased; 	 /* Opera              */
        font-smoothing: antialiased; 		 /* Official           */ 

        main {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            min-height: 100vh;

            .azad-container {
                width: calc( 100% - 15rem );
                margin: 0 auto;
                overflow: hidden;
            }
        }

        h1 {
            font: 2rem/1.5rem "Cabin", Helvetica, Arial, sans-serif;
        }
        h2,
        h3 {
            font: 21px/1.5em "Cabin", Helvetica, Arial, sans-serif;
        }
        h4 {
            font: 16px/1.5em "Cabin", Helvetica, Arial, sans-serif;
        }
        h5 {
            font: 14px/1.5em "Cabin", Helvetica, Arial, sans-serif;
        }
        h6 {
            font: 12px/1.5em "Cabin", Helvetica, Arial, sans-serif;
        }
        a {
            text-decoration: none;
        }
        a:link {
            color: var( --text-color );
            text-decoration: none;
        }
        a:hover,
        a:focus,
        a:active,
        a:visited {
            color: var( --border-top-color );
            text-decoration: underline;
        }
        p {
            margin-bottom: 1em;
        }
        strong {
            font-weight: bold;
        }
        em {
            font-style: italic;
        }
        ol,
        ul {
            list-style: none;
        }
        blockquote {
            border: 0;
            font: italic 21px/1.5em "Gentium Basic", Georgia, serif;
            color: #2894d8;
        }
        blockquote cite {
            display: block;
            margin-top: 42px;
            font-size: 16px;
            font-style: normal;
        }
        hr {
            border: none;
            height: 1px;
            background-color: #ededed;
            margin: 3em 0;
        }
        input {
            background: #696969;
            border: 1px solid #c3c3c3;
            color: #cbcbcb;
            padding: 3px;

            &:focus, &:hover {
                background: #ededed;
                color: #4e4e4e;
            }
        }
    }
}

@media only screen and ( max-width: 767px ),
only screen and ( max-device-width: 767px ) {
    
    html {

        body {

            main {

                .azad-container {
                    width: calc( 100% - 2rem );
                    margin: 0 auto;
                }
            }   
        }
    }

}

.screen-reader-text {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    -webkit-clip-path: inset( 50% );
    clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    color: red;
    word-wrap: normal !important;
    word-break: normal;
}